.header {
    background-color: rgb(132, 171, 230);
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: space-around;
}

.header ul {
    display: flex;
    justify-content: space-around;
}

.header ul li {
    list-style-type: none;
    margin-left: 30px;
}

.header ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}